<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %} 
  <title>{% if page.topic %} {{ page.topic }} {% endif %} {{ site.name }}</title>
  </head>
  <body id="page-top">
    <div id="container" data-role="page">
    {% include nav.html %}
    <div id="content"  class="ui-content">
      {% if page.topic %}
         <h2>{{ page.topic }}</h2>
      {% endif %}
      {% if page.desc %}
             <p class="topic-summary">{{ page.desc }}</p>
      {% endif %}
      {{ content }}
      {% if page.category_prefix %}
        {% include category_index.html %}
      {% endif %}    
    </div><!-- content -->
    {% include footer.html %}
    </div><!-- container -->
  </body>
</html>
